<%- include('partials/top') %>

<main class="container-sm mb-2">
    <h1 class="">Feed</h1>
    
    <section id="all-posts">
        <% if (allPosts.length === 0) { %>
            <p>no posts</p>
        <%} else { %>
            <% allPosts.forEach( post => { %>
                <div class="card">
                    <div>post-id: <%= post._id %></div>
                    <div>user-id:  <%= post.user._id %></div>
                    <div>event:  <%= post.event %></div>
                    <div>event info:  <%= post.eventInfo %></div>
                    <div>image-url from cloudinary:  <%= post.image %></div>
                    <div>cloudinaryID:  <%= post.cloudinaryID %></div>
                    <div>createdAt:  <%= post.createdAt %></div>
                    <div>updatedAt:  <%= post.updatedAt %></div>
                    <% if (loggedIn.toString() === post.user._id.toString()) { %>
                        <a href="/post/edit/<%= post._id %>">edit post</a>
                    <% } %>
                </div>
            <% }) %>
        <% } %>
    </section>
</main>

<%- include('partials/bottom') %>