<%- include('partials/top') %>

<main class="container-sm mb-2">
    <h1 class=""><%= name %>'s Profile</h1>
    
    <% if (posts.length === 0) { %>
        <p>no posts</p>
    <%} else { %>
        <% posts.forEach( post => { %>
            <div>post-id: <%= post._id %></div>
            <div>user-id:  <%= post.user %></div>              
            <div>event:  <%= post.event %></div>           
            <div>event info:  <%= post.eventInfo %></div>             
            <div>image-url from cloudinary:  <%= post.image %></div>            
            <div>cloudinaryID:  <%= post.cloudinaryID %></div>            
            <div>createdAt:  <%= post.createdAt %></div>             
            <div>updatedAt:  <%= post.updatedAt %></div>              
        <% }) %>
    <% } %>
</main>

<%- include('partials/bottom') %>