<%- include('partials/top') %>

<main class="container-sm test">
    <h1 class=""><%= name %>'s Profile</h1>
    
    <% if (posts.length === 0) { %>
        <p>no posts</p>
    <%} else { %>
        <% posts.forEach( post => { %>
            post-id: <%= post._id %>
            user-id:  <%= post.user %>              
            event:  <%= post.event %>              
            event info:  <%= post.eventInfo %>              
            image-url from cloudinary:  <%= post.image %>              
            cloudinaryID:  <%= post.cloudinaryID %>              
            createdAt:  <%= post.createdAt %>              
            updatedAt:  <%= post.updatedAt %>              
        <% }) %>
    <% } %>
</main>

<%- include('partials/bottom') %>